.page_page_loader_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page_loader_loader {
  display: flex;
  column-gap: 20px;
}

.page_loader_loader .dot {
  width: 40px;
  height: 80px;
  /*background-color: black;*/
  background-color: #b9b9b9;
  border-radius: 40px;
  animation: loading 1s infinite alternate;
}

.page_loader_loader .dot:nth-child(1) {
  /*background-color: #4285f4;*/
  animation-delay: -0.25s;
}

.page_loader_loader .dot:nth-child(2) {
  /*background-color: #ea4335;*/
  animation-delay: -0.5s;
}

.page_loader_loader .dot:nth-child(3) {
  /*background-color: #fbbc05;*/
  animation-delay: -0.75s;
}

.page_loader_loader .dot:nth-child(4) {
  /*background-color: #34a853;*/
  animation-delay: -1s;
}

@keyframes loading {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(5px);
  }
}
