.not_found_page {
  background: var(--theme_primary_color_light_gray);
  margin-bottom: 30px;
  display: flex;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}

.not_found_page h1 {
  margin: 10px;
  text-align: center;
  line-height: 120%;
}
.not_found_page_under {
  text-align: center;
}

#not_found_page_br {
  display: none;
}

@media (max-width: 380px) {
  #not_found_page_dash {
    display: none;
  }
  #not_found_page_br {
    display: block;
  }
}
