.blog_cards {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  text-decoration: none;
}
.blog {
  width: calc((100% - 40px) / 3);
  text-decoration: none;
  color: var(--theme_primary_color_black);
  position: relative;
}
.blog_date {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--theme_primary_color_white);
  border-radius: 100px;
  padding: 3px 8px;
  box-sizing: border-box;
  z-index: 99999;
}
.blog_img {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 10px;
  border: 1.5px solid var(--theme_primary_color_blue_4);
  transform: scale(1);
}
.blog:hover .blog_img {
  transform: scale(1.01);
  transition: transform 0.2s ease-in-out;
}
.blog_img_empty {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 10px;
  background: var(--theme_primary_color_blue_4);
  border: 1.5px solid var(--theme_primary_color_blue_4);
}

.blog_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 22.5px;
  margin-top: 8px;
  margin-bottom: 5px;
  width: 100%;
  color: var(--theme_primary_color_black);
}

.blog_title_type {
  /*
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--theme_primary_color_dark_gray);
    color: transparent;
    */
  color: #4484dc;
}

.blog_subtitle,
.blog_subtitle_hiden {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-family: 'Open Sans';
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 50px;
  margin-bottom: 20px;
  color: var(--theme_primary_color_black);
}

@media (max-width: 1300px) {
  .blog {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 550px) {
  .blog {
    width: 100%;
  }
}
