.topnav {
  /*overflow: hidden;*/
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0;
  padding: 20px 20px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme_light {
  padding: 0px 20px 0;
}
.theme_light .topbnav_menu_home {
  transform: scale(0.6);
}
.topnav_right {
  color: var(--theme_primary_color_white);
  font-family: 'PF DinDisplay Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.theme_light .topnav_right {
  color: var(--theme_primary_color_black);
}
.topbnav_menu {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--theme_primary_color_white);
}
.theme_light .topbnav_menu {
  color: var(--theme_primary_color_black);
}
.topbnav_menu:hover {
  text-decoration: underline;
}
.topbnav_submenu {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-45%) translateY(50%);
  background: white;
  padding: 20px;
  min-width: 180px;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.topbnav_submenu_show {
  opacity: 1 !important;
  transform: translateX(-45%) translateY(0%);
  pointer-events: all;
  z-index: 9999999999;
}
.topbnav_menu_lang {
  margin-left: -10px;
}
.topbnav_submenu_btn {
  text-decoration: none;
  color: var(--theme_primary_color_blue_0);
  text-transform: none;
}
.topbnav_submenu_btn:hover {
  text-decoration: underline;
}
.topbnav_menu_mobile_block {
  display: none;
}
.topbnav_menu_mobile_desktop {
  display: none;
}
.topbnav_menu_mobile_desktop_only {
  display: block;
}
.topbnav_menu_icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.topbnav_menu_icon_rotate {
  transform: rotate(45deg) !important;
}

@media (max-width: 800px) {
  .topbnav_menu_mobile_desktop {
    display: block;
  }
  .topbnav_menu_mobile_desktop_only {
    display: none;
  }
  .topbnav_menu_mobile_block {
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 10px;
  }

  .topnav_right {
    display: none;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    position: absolute;
    background: white;
    top: 110px;
    width: 100vw;
    flex-direction: column;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  .topnav_right_show {
    display: flex;
  }
  .topbnav_menu {
    color: var(--theme_primary_color_blue_0);
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  }
  .topbnav_menu_home {
    transform: scale(0.6);
  }

  .topbnav_menu_contactus {
    margin: -5px 0 10px;
  }
  .topbnav_submenu {
    position: relative;
    height: 0px;
    width: 0;
    display: none;
    transition: height 0.3s ease-in-out;
  }
  .topbnav_submenu_show {
    height: auto;
    display: block;
    width: 100%;
    transform: translateX(0%) translateY(0%);
    top: 0;
    left: 0;
    padding: 20px 30px;
  }
  .topnav_right {
    gap: 30px;
  }
}
.theme_light_menu {
  background: var(--theme_primary_color_blue_4);
}
